<header class="sticky top-0 left-0 w-screen h-auto flex flex-row justify-between items-center gap-2 p-2">
  <div class="flex flex-row justify-start items-center gap-2 p-2">
    <img ngSrc="/favicon.ico" alt="" width="50" height="50"/>
    <h1>Title</h1>
  </div>
  <nav class="flex flex-row justify-start items-center gap-2 p-2">
    <ul class="flex flex-row justify-start items-center gap-2 p-2">
      <li>
        <a routerLink="/main">Main</a>
      </li>
      <li>
        <a routerLink="/dashboard">dashboard</a>
      </li>
      <li>
        <a routerLink="/login">login</a>
      </li>
      <li>
        <a routerLink="/register">register</a>
      </li>
    </ul>
  </nav>
</header>
